*.iml
.gradle
.idea
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
signing.properties
**/build
app/src/main/jniLibs
app/src/main/include
app/src/main/libs
app/src/main/obj
