[submodule "FFmpeg_Android"]
	path = FFmpeg_Android
	url = https://github.com/drhill/FFmpeg_Android
	branch = master
[submodule "ExoPlayer"]
	path = ExoPlayer
	url = https://github.com/drhill/ExoPlayer
	branch = release-v2-truehd
